.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0f0f3e;
  padding: 10px 20px;
  color: white;
  border-bottom:1px solid white;
}


.navbar-logo {
  font-size: 1rem;
  font-weight: bold;
}


.nav-toggle {
  display: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}


.navbar-nav {
  list-style: none;
  display: flex;
  align-items: center;
  font-size
}


.nav-item {
  margin-right: 15px;
}


.nav-link {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #e76972;
}


.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 20px;
  background: #0f0f3e;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {

  .nav-toggle {
    display: block;
  }
  

  .navbar-nav {
    display: none;
  }

  .open {
    display: flex;
  }
}
