.App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #dbe9ee;
}

body {
  margin: 0;
  padding: 0;
}