.home {
    width: 100%;
    align-items: center;
    font-family: "Helvetica Neue",Helvetica;
    color: #3e497a;
 

  }
  
  .about {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #21325e;
    background-image: url('../../assets/background-about.jpg');
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    color: #f0f0f0;
  }
  
  .about h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 38px;
    color: #e9d35b;
    height: 50px;
    padding: 24px;
  }
  
  .about .prompt {
    width: 50%;
    font-size: 30px;
  }
   .prompt p {
    font-size: 20px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 24px;
   }
  .skills {
    font-size: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .skills h2 {
    color: #3e497a;
    font-size: 44px;
  }
  .skills h3 {
    color: #3e497a;
    font-size: 34px;
  }
  
  .skills .list {
    list-style: none;
    width: 60%;
  }
  
  .list span {
    font-size: 20px;
  }
  

    .about .prompt {
      margin-top: 10px;
      font-size: 20px;
      width: 70%;
    }
  
    .skills {
      text-align: center;
    }
    .list {
      padding: 0;
    }

    @media only screen and (max-width: 1300px) {
      .about h2 {
        font-size: 48px;
      }
    
  }
    @media only screen and (max-width: 800px) {
      .about h2 {
        font-size: 38px;
      }
    
  }
    @media only screen and (max-width: 600px) {
      .about h2 {
        font-size: 28px;
      }
    
  }