.project {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project  h1 {
  margin-bottom: 50px;
  color: #3e497a;
  font-size: 2rem;
  margin-top: -40px;
}
.project img {
  max-width: 700px;
  border-radius: 10px;
  margin-bottom: 40px;
}

.project h3 {
  font-size: 1.7rem;
  color: #3e497a;
  padding: 50px;
  text-align: justify;
}
a {
  text-decoration: none;
  color: rgb(11, 37, 185);
  font-weight: normal;
  font-size: 24px;
}
a:hover {
  text-decoration: none;
  color: #ff7d00;
  font-weight: bold;
  transition: all ease 0.3s;
  font-size: 24px;
  cursor: pointer;
  text-shadow: 0 0 0.625em rgb(203, 211, 56);
}
.project svg {
  font-size: 60px;
  color: #3e497a;
}
.project svg:hover {
  color: #2d2d84;
  cursor: pointer;
}
svg {
  filter: drop-shadow(1px 2px 1px rgb(144, 130, 227));
}
@media only screen and (max-width: 1300px) {
  .project img {
    max-width: 500px;
    border-radius: 8px;
  }
  .project h1 {
    font-size: 1.8rem;
  }
  .project h3 {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 800px) {
  .project img {
    max-width: 374px;
    border-radius: 6px;
  }
  .project h1 {
    font-size: 1.7rem;
  }
  .project h3 {
    font-size: 1.3rem;
  }

}
