.education-title{
    color: black;
}
@media only screen and (max-width: 1300px) {
    .vertical-timeline-element-title {
      font-size: 38px;
    }
    .vertical-timeline-element-education {
        font-size: 20px;
      }


}
  @media only screen and (max-width: 800px) {
    .vertical-timeline-element-title {
        font-size: 30px;
      }
      .vertical-timeline-element-education {
        font-size: 20px;
      }
    }
  

  @media only screen and (max-width: 600px) {
    .vertical-timeline-element-title {
      font-size: 25px;
    }
    .vertical-timeline-element-education {
        font-size: 20px;
      }
}