.experience{
    overflow-x: hidden;
    color: black;
}
h3{
    font-size: large;
}
@media only screen and (max-width: 1300px) {
    h3{
        font-size: large;
    }

}
  @media only screen and (max-width: 800px) {
  
    }
  

  @media only screen and (max-width: 600px) {

}