.experience{
    color: black;
}
.experience h3{
    font-size:40px;
}
@media only screen and (max-width: 1300px) {
    .experience h3{
        font-size: 34px;
    }

}
  @media only screen and (max-width: 800px) {

  

