.education-title{
    color: black;
}
@media only screen and (max-width: 1300px) {
    .experience h1 {
      font-size: 48px;
    }


}
  @media only screen and (max-width: 800px) {
    .experience h1 {
        font-size: 48px;
      }
    }
  
}
  @media only screen and (max-width: 600px) {
    .experience h1 {
      font-size: 28px;
    }
    .experience h2 {
        font-size: 28px;
      }
}